
img{
    border-radius: 100px;
	width: 250px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.solrem{
    background-color: #ffebcd;
}

.mere{
    /* background-color: cornsilk; */
    border-radius: 650px;
    border: dashed;
}

.resumename{
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.rest{
    /* background-color: blanchedalmond; */
    border-radius: 100px;
    border: dotted;
}

.int-center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.stpr{
    background-color: transparent;
    padding: 10px;
}

.studprof{
    text-align: justify;
    font-size: large;
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fullinfo{
    padding-block: 10px;
    background-color: white;
}

.mfs{
    border-radius: 950px;
    background-color: white;
}