@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
form {
    border: 2px dashed;
    padding: 8px;
    border-radius: 2px;
    display: inline-block;
  }
  
form:focus-within {
    background: lightcyan;
  }
  
label {
    display: inline-block;
    width: 72px;
    font: 100;
    font-family: 'Nunito', sans-serif;
  }

input {
    margin: 4px 12px;
  }

/* no. 4 css */
.prompt3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-family: 'Nunito', sans-serif;
}

p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
}

.equalnum{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;  
}

/* no. 5 - 6 css */
.string1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    font-family: 'Nunito', sans-serif;
}

.string2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    font-family: 'Nunito', sans-serif;
}

.check, .rev{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
}